body {
    background-color: #282C34;
}

.container {
    padding: 10px;
}

.circle {
    border-radius: 100%;
}

.btn-terminal {
    color: #32FA05;
    padding: 5px 10px;
    border-width: 2px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: unset;
    border-color: #32FA05;
    border-style: dashed outset;
}

.btn-terminal:hover,
.btn-terminal:active {
    background-color: #32FA05;
    color: #333842;
    border-color: #333842;
}

#actions-content {
    padding: 15px 20px;
    background-color: #21252B;
}

#terminal {
    color: #32FA05;
    overflow-y: auto;
    padding: 15px 20px;
    height: calc(100vh - 160px);
    background-color: #333842;
    min-height: calc(100vh - 160px);
    max-height: calc(100vh - 160px);
}

#output {
    height: 100%;
    margin-top: 20px;
    height: calc(100% - 40px);
}

.content-input {
    display: flex;
}

.content-input input:focus-visible {
    outline: none;
}

.content-input span {
    padding: 0 2px;
    margin-left: 10px;
    display: none;
}

.content-input input {
    background-color: transparent;
    border: unset;
    color: #32FA05;
    width: 100%;
    margin-left: 10px;
}

#list-socials {
    margin-top: 25px;
}

#list-socials li a {
    color: #9DA39D;
}

#list-socials li {
    border: unset;
    padding: 5px 0;
    background: unset;
}

#copy {
    padding: 10px 0;
    color: #9DA39D;
}
